@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto+Condensed:wght@700&display=swap');

body{
    /* background-color: rgb(0, 0, 0).; */
    background-image: url(./img/pizzabackground.jpg);
    background-repeat: repeat;
    background-size: 500px;
}
header, .alert{
    z-index: 100;
  }
  
  h5{
    color: white;
  }


  
  .description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
  }
  .description:hover{
    height: 80px;
  }
  .carrito{
    min-height: 50vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }
  .table__productos{
    display: flex;
  }
  .table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
  }
  .table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px; 
  }
  .hide, .remove{
    display: none;
  }
  
  /* Editar el Total gs */
 h3.itemcarttotal{
  color: rgb(253, 252, 252);
  background-color: black;
 }
 
 /* Editar Carta */
 .titulo1{ 
  color: aliceblue;
 }
#titulo1{
  color: orange;
  text-align: center;
  background-color:#292929;
  border-radius: 250%;
  font-family: 'Fasthand', 'cursive' , arial;
}

.contenedor{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: -420px;
  margin-bottom: -450px;
  background: #292929;
}

.logo{
  width: 400px;
  padding: 0px;
  margin: 420px;
}


.descripcion_quienesSomos{
  margin: 100px;
  color: rgb(255, 255, 255);
  font-size:x-large;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 8px;
  
}


#segundobloque{
display: flex;
justify-content: center;
align-items: center;
}

a.nav-link{
  color: orange;
  font-family: 'Roboto Condensed', sans-serif;

}

a.nav-link:hover{
  color: white;
  background-color: orange;
}


#pills-home{
  background: linear-gradient(173deg, rgba(255,255,255,0.676908263305322) 0%, rgba(255,255,255,0.676908263305322) 96%);
  border-color: rgba(255, 255, 255, 0.831);
}

.shadow{
  background:rgba(0, 0, 0, 0.9);
}

h5{
  text-align: center;
  -webkit-text-fill-color: orange;
  background-color:black;
  border: none;
  
}
button{
  background-color: rgb(237, 113, 4);
  -webkit-text-fill-color: rgb(0, 0, 0);
  padding: 5px;
  width: 300px;
  border-radius: 100px;


}